<label>Tipo de revisión</label>
<select name="tipo_revision" class="form-select" required>
    <option>DDD</option>
    <option>Cucarachas</option>
    <option>Roedores</option>
    <option>Chinches</option>
    <option>Pulgas</option>
    <option>Avispas</option>
    <option>Polillas</option>
    <option>Mosquitos</option>
    <option>Mosquitos de la humedad</option>
</select>

<label>Fecha revisión</label>
<input type="date" name="fecha_revision" class="form-control" required>

<label>Observaciones</label>
<textarea name="observaciones" class="form-control"></textarea>